<div style="text-align:center">
  <h2>Tic Tac Test</h2>

  <!-- score -->
  <h3 [class.winner]="winner">{{result}}</h3>

  <ul class="list-group">
  <li class="list-group-item">Player 1 <img class="player-icon" src='assets/img/player1.jpg'> </li>
  <li class="list-group-item">Player 2 <img class="player-icon" src='assets/img/player2.jpg'> </li>
  </ul>

  <!-- board -->

  <table style="margin-left: auto; margin-right: auto">
    <tr *ngFor="let x of [0,1,2]">
      <td *ngFor="let y of [0,1,2]">
        <cell [cell-x]="x" [cell-y]="y" (makeMove)="checkCell($event)"></cell>
      </td>
    </tr>
  </table>


  </div>

  <!-- magic square -->
<!--
<div>
  <table style="margin-left: auto; margin-right: auto">
    <tr>
      <td>
        <cell value="2" (makeMove)="checkMove($event)"></cell>
      </td>
      <td>
        <cell value="7" (makeMove)="checkMove($event)"></cell>
      </td>
      <td>
        <cell value="6" (makeMove)="checkMove($event)"></cell>
      </td>
    </tr>
    <tr>
      <td>
        <cell value="9" (makeMove)="checkMove($event)"></cell>
      </td>
      <td>
        <cell value="5" (makeMove)="checkMove($event)"></cell>
      </td>
      <td>
        <cell value="1" (makeMove)="checkMove($event)"></cell>
      </td>
    </tr>
    <tr>
      <td>
        <cell value="4" (makeMove)="checkMove($event)"></cell>
      </td>
      <td>
        <cell value="3" (makeMove)="checkMove($event)"></cell>
      </td>
      <td>
        <cell value="8" (makeMove)="checkMove($event)"></cell>
      </td>
    </tr>
  </table>
  <button on-click="resetBoard()" type="button" class="btn btn-outline-primary">Reset / Play Again</button>

</div>
-->
