body, html {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 28px;
  background-color: white !important;
  color: black;
}

.col-xs-15 {
  width: 10%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 10%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 10%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 10%;
    float: left;
  }
}

table th,td {
  padding: 8px 2px;
}

table {
  border-collapse: collapse;
  color: gray;
}

table td {
  font-size: 22px;
  padding: 3px;
}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

.empty {
  width: 150px;
  height: 150px;
  background-image: url('assets/img/empty.jpg');

}
.player2 {
  width: 150px;
  height: 150px;
  background-image: url('/assets/img/player2.jpg');
}

.player1 {
  width: 150px;
  height: 150px;
  background-image: url('/assets/img/player1.jpg');

}

.winner {
  color: red;
}

.player-icon {
  width: 25px;
  height: 25px;
}
